@model MealBox.Models.AreaModel
@{
    ViewBag.Title = "Area";
}

@section Styles {

    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/dist/css/sweetalert.css" rel="stylesheet" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>

}
<h2>Enter Area</h2>

@using (Html.BeginForm("AddArea", "Managment", FormMethod.Post, new { @id = "AddSupplier" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.area_)
            @Html.TextBoxFor(x => x.area_, new { @class = "form-control", @placeholder = "Enter Item Name" })
            <span class="error">Please Write Area Name..</span>
            @Html.HiddenFor(x => x.areaid)
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <input type="button" class="btn btn-success" value="Save" id="Save" />
        <div class="col-md-3">
            @Html.ActionLink("Return To List", "AreaList")
        </div>
    </div>
}

@section
    scripts

    {
    <script src="~/dist/js/sweetalert.js"></script>
    <script type="text/javascript">

        $('#Save').click(function () {
            debugger;
            var isallvalid = true;
            isallvalid = Validate();
            if (isallvalid) {
                var GetDateTime = new Date();
                var obj = {
                    "area_": $('#area_').val(),
                    "areaid": $('#areaid').val(),
                    "CompanyId": 0,
                    "BranchId": 0
                }
                $.ajax({
                    type: 'Post',
                    url: '/Managment/AddArea',
                    contentType: "application/json?charset=utf-8",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        Clear();
                        swal("", "Data Has Been Save!", "success");
                    },
                })
            }
        })

        $('#area_').change(function () {
            if ($('#area_').val() != "") {
                $('#area_').siblings('span.error').css('visibility', 'hidden')
            }
            else {
                $('#area_').siblings('span.error').css('visibility', 'visible')
            }
        })

        function Clear() {
            $('input[type="text"]').val("");
            $('select').each(function () { $(this).val('') })

        }

        function Validate() {
            debugger;
            var isallvalid = true;
            if ($('#area_').val() == "") {
                $('#area_').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#area_').siblings('span.error').css('visibility', 'hidden')
            }
            return isallvalid;
        }
    </script>
}

