@model MealBox.Models.ProductModel
@{
    ViewBag.Title = "AddItemCategory";
}

@section Styles {

    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/dist/css/sweetalert.css" rel="stylesheet"/>
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error 
        {
            background-color: rgba(255,0,0,0.35);
        }
    </style>

}

<h2>Enter Item Category</h2>

@using (Html.BeginForm("AddItem", "Master", FormMethod.Post, new { @id = "AddItem" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.ProductTypeName)
            @Html.TextBoxFor(x => x.ProductTypeName, new { @class = "form-control", @placeholder = "Enter Item Name" })
            <span class="error"> Please Write Item Category Name...</span>
            @Html.HiddenFor(x => x.ProductTypeID)
        </div>
    </div>
    <div class="row">
        <input type="button" class="btn btn-success" value="Save" id="Save" />
        <div class="col-md-3">
            @Html.ActionLink("Return To List", "ItemTypeList")
        </div>
    </div>
}


@section
    scripts
        {


    <script src="~/dist/js/sweetalert.js"></script>
    <script type="text/javascript">
        $('#Save').click(function () {
            debugger;
            var isallvalid = true;
            isallvalid = Validate();
            if (isallvalid) {
                var obj = {
                    "ProductTypeName": $('#ProductTypeName').val(),
                    "ProductTypeID": $('#ProductTypeID').val()
                }
                $.ajax({
                    type: 'Post',
                    url: '/Product/AddItemCategory',
                    contentType: "application/json?charset=utf-8",
                    data: JSON.stringify(obj),
                    success: function (data) {
                        Clear();
                        swal("Good job!", "You clicked the button!", "success");
                        
                    },
                })
            }
        })
        $('#ProductTypeName').change(function () {
            if ($('#ProductTypeName').val().trim() != "") {
                $('#ProductTypeName').siblings('span.error').css('visibility', 'hidden')
            }
            else {
                $('#ProductTypeName').siblings('span.error').css('visibility', 'visible')
            }
        })

        function Clear() {
            $('input[type="text"]').val("");
            $('select').each(function () {
                $(this).val('')
            })
        }

        function Validate() {
            debugger;
            var isallvalid = true;
            if ($('#ProductTypeName').val() == "") {
                $('#ProductTypeName').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#ProductTypeName').siblings('span.error').css('visibility', 'hidden')
            }
            return isallvalid;
        }
    </script>
}