@model MealBox.Models.SalesModel
        @using (Html.BeginForm("CreateAllowance", "Setup", FormMethod.Post))
        {
       
                        @Html.LabelFor(x => x.BillNo)
                        @Html.TextBoxFor(x => x.BillNo, new { @class = "form-control", @placeholder = "AllowanceType Name" })
                   
            <span class="error">Please Insert AllowanceType</span>
                           
        }
